/* Global rules */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');

html {
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.95em;
    line-height: 1.5em;
    color: white;
}

body{
    margin:0; /* removes space above body, top of page */
 }
 

::selection {
    color: #000; 
    background: #ff0;
}

h1 {
    font-weight: normal;
    margin: auto;
    background: #fff;
    line-height: 2.5em;
}

h1.page-header {
    font-family: 'Cairo',serif;
   -webkit-border-top-left-radius: 5px;
   -webkit-border-top-right-radius: 5px;
   -moz-border-radius-topleft: 5px;
   -moz-border-radius-topright: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   background-color: black;
}

main.wrapper {
    background-color: black;
    overflow: auto;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.album {
    margin-top: 15%;
}

.album-cover {
    float: left;
    margin-right: 5%;
    width: 600px;
}

.album-tabs {
    background-color: white;
}

#song-list {
    color: white;
    background-color: black;
    
}

#rating {
    color: white;
    background-color: black;
}

#info {
    color: black;
    background-color: white;
}

.tab-button {
    background-color: white;
    color: black;
    width: 10%;
    border: none;
    border-bottom: 6px solid #ccc;
    cursor: pointer;
}

#about-me {
    overflow: auto;
    background-color: white;
    color: black;
}

#about-me p {
    margin-top: 2%;
    display: inline-flexbox;
    text-align: right;
}

#me-img {
    position: sticky;
    float: left;
    padding: 1%;
}

p {
    margin: 1em; /* Top Right Bottom Left (TRBL) */
}

h2,h3 {
    font-weight: normal;
    margin-left: 1em;
    line-height: 1em;
}

a {
    color:darkcyan;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
    background-color: darkcyan;
    text-decoration: none;
}

footer {
    clear: both;
    text-align: center;
    padding: 1em;
}

/* Responsive rules */

/* DESKTOP */
@media all and (min-width:1200px) {
    main.wrapper {
        width: 80%;
        margin: auto;
    }
    
    h1 {
        width: 79%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 50%;
        float: left;
        margin-right: 2em;
    }
    
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    main.wrapper {
        width: 90%;
        margin: auto;
    }
    
    h1 {
        width: 89%;
        padding-left: 1%;
    }
    
    #me-img {
        float: top;
        width: 50%;
        height: 50%;
    }

    picture.profile img {
        width: 50%;
        float: right;
        margin-left: 1em;
    }

}

/* PHONE */
@media all and (max-width:500px) {
    main.wrapper {
        width: 100%;
    }
    
    h1 {
        width: 99%;
        padding-left: 1%;
    }

    #me-img {
        float: top;
        width: 50%;
        height: 50%;
    }
    
    picture.profile img {
        width: 100%;
    }
    
}
